.article-form {
  box-sizing: border-box;
  width: 70%;
  margin: 3vw auto;

  input {
    box-sizing: border-box;
    height: 3vw;
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 10vw;
    margin: auto;
  }
}
