@import '../../style/vars';

header {
  background-color: $colorTwo;
  color: $colorThree;

  li {
    display: inline-block;
    margin: 10px;
  }
  a {
    color: $colorThree;
  }
  a:visited {
    color: $colorThree;
  }
  li {
    list-style: none;
  }
}
