@import 'vars';
@import 'mixins';

// * {
//   outline: dashed 1px red;
// }

body {
  @include background-size(cover);

  background-color: $colorThree;
  background-size: cover;
  text-align: center;
  width: 100%;
}

// -------------------------------------------------------------------------------------------------
// PARALLAX IMAGE SCROLLING
// -------------------------------------------------------------------------------------------------
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// -------------------------------------------------------------------------------------------------
// PAGE LOAD
// -------------------------------------------------------------------------------------------------
.fade-in {
  opacity: 0;
  @include animation('fadeIn 500ms ease-in 1 200ms forwards');
  @include keyframes(fadeIn) { from { opacity:0; } to { opacity:1; } }
}

input {
  display: block;
  margin: 1em auto;
  border: 1px solid $accent-main;
  padding: 0.5em;
}
