@import 'vars';
@import 'mixins';

body {
  @include background-size(cover);

  background-color: $colorThree;
  background-size: cover;
  text-align: center;
  width: 100%;
}

// -------------------------------------------------------------------------------------------------
// PARALLAX IMAGE SCROLLING
// -------------------------------------------------------------------------------------------------
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// -------------------------------------------------------------------------------------------------
// LANDING PAGE STYLING
// -------------------------------------------------------------------------------------------------
.landing-page {
  margin: 5vw auto;
  width: 80%;
}

// -------------------------------------------------------------------------------------------------
// PAGE LOAD
// -------------------------------------------------------------------------------------------------
.fade-in {
  opacity: 0;
  @include animation('fadeIn 500ms ease-in 1 200ms forwards');
  @include keyframes(fadeIn) { from { opacity:0; } to { opacity:1; } }
}