// -------------------------------------------------------------------------
// GENERAL STYLING
// -------------------------------------------------------------------------
$shadow: 0rem 1rem 2rem 0rem rgba(0,0,0,0.2);
// 0px 8px 16px 0px rgba(0,0,0,0.2);

// -------------------------------------------------------------------------
// TYPOGRAPHY
// -------------------------------------------------------------------------

// -------------------------------------------------------------------------
// COLORS
// -------------------------------------------------------------------------
$colorOne: #0072BC; // French Blue
$main-light: #0072bc;
$colorTwo: #003D67; // Dark Imperial Blue
$colorThree: #EEEEEE; // Isabelline
$colorFour: #28A0B8; // Blue-Green
$colorFive: #F7CE3E; // Sandstorm

$colorSix: #C1C1C1; // Light Gray
$off-white: #eee;
$main-dark: #003d67;
$accent-main: #28a0b8;
$accent-bright: #f7ce3e;
  
// -------------------------------------------------------------------------
// MEDIA QUERIES
// -------------------------------------------------------------------------

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 320px;
$screen-sm-max: 767px;

// Small tablets (portrait view)
$screen-md-min: 768px;
$screen-md-max: 991px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
